<!--

 @Author Rizki Mufrizal <mufrizalrizki@gmail.com>
 @Since Apr 3, 2016
 @Time 11:59:26 AM
 @Encoding UTF-8
 @Project Aplikasi-Kebudayaan-Aceh
 @Package Expression package is undefined on line 9, column 13 in Templates/Other/html.html.

-->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div ng-repeat="k in kuliner.dataKuliner">
                    <div class="card z-depth-2">
                        <div class="card-image">
                            <img class="responsive-img" ng-src="uploads/gambar/{{k.gambar_kuliner}}">
                            <span class="card-title">{{k.judul_kuliner}}</span>
                        </div>
                        <div class="card-content">
                            <p>{{k.deskripsi_kuliner}}</p>
                        </div>
                    </div>
                </div>
                <ul class="pagination">
                    <li ng-click="kuliner.previousPage()" class="waves-effect">
                        <a>
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    <li class="waves-effect">
                        <a>
                          {{kuliner.paging.page}} dari {{kuliner.paging.totalPages}}
                        </a>
                    </li>
                    <li ng-click="kuliner.nextPage()" class="waves-effect">
                        <a>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
